
<section class="header">
    <div class="container">
        <div class="wrapper wrapper--between">
            <h1 class="title title--light">Мастерская</h1>
            <a href="#" class="link link--arrow-right">Работа у нас</a>
        </div>
    </div>
</section>
<section class="section presentation" id="presentation">
    <div class="container">
        <div class="block">
            <p class="text text--accent">Наполняем здания функциями, разрабатываем комфортные условия для людей и обеспечиваем высокую окупаемость инвестиций в строительство. Всю технологию зданий и сооружений берем на себя.</p>
        </div>
        <div class="block">
            <span class="link--files">
                <a href="#" class="link link--bold link--arrow-down">Скачать презентацию</a>
            </span>
        </div>
        <div class="block">
            <div class="img-scheme"><img src="./images/schemes/scheme-1.svg" alt="Схема"/></div>
            <div class="img-scheme"><img src="./images/schemes/scheme-2.svg" alt="Схема"/></div>
            <div class="img-scheme"><img src="./images/schemes/scheme-3.svg" alt="Схема"/></div>
            <div class="img-scheme"><img src="./images/schemes/scheme-4.svg" alt="Схема"/></div>
        </div>
    </div>
</section>
<section class="section gallery" id="gallery">
    <div class="container">
        <div class="block block--column block--full-width">
            <div class="slider gallery-slider-for">
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
            </div>
            <div class="slider gallery-slider-nav">
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
                <div class="slide">
                    <img src="./images/project-1.jpg" class="img" alt="Проект"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section--dark" id="company-values">
    <div class="container">
        <h2 class="title title--primary-dark">Ценности компании:</h2>
        <div class="block block--wrap">
            <div class="card">
                <span class="text text--number">01</span>
                <h3 class="title title--h3 title--primary-dark">Эффективность</h3>
                <p class="text text--light">Каждый наш проект экономически просчитан и обоснован.</p>
            </div>
            <div class="card">
                <span class="text text--number">02</span>
                <h3 class="title title--h3 title--primary-dark">Оперативность</h3>
                <p class="text text--light">Мы работаем четко в срок.</p>
            </div>
            <div class="card">
                <span class="text text--number">03</span>
                <h3 class="title title--h3 title--primary-dark">Инновационность</h3>
                <p class="text text--light">Быть на шаг впереди, предлагая только лучшее и эффективное</p>
            </div>
            <div class="card">
                <span class="text text--number">04</span>
                <h3 class="title title--h3 title--primary-dark">Синергия клиента и команды</h3>
                <p class="text text--light">Мы воспринимаем клиента, как часть рабочей группы, часть команды, объединяя усилия и таланты всех людей для лучшего результата</p>
            </div>
            <div class="card">
                <span class="text text--number">05</span>
                <h3 class="title title--h3 title--primary-dark">Доверие и уважение</h3>
                <p class="text text--light">Мы – команда специалистов, работа которых основана на принципе доверия и уважения профессионализма инженера – проектировщика</p>
            </div>
            <div class="card">
                <span class="text text--number">06</span>
                <h3 class="title title--h3 title--primary-dark">Принцип горизонтальных связей </h3>
                <p class="text text--light">для эффективного взаимодействия, как во внутренних коммуникациях, так и в диалоге с клиентом</p>
            </div>
        </div>
    </div>
</section>
<section class="section team" id="team">
    <div class="container">
        <h2 class="title">Команда</h2>
        <div class="block">
            <p class="text text--accent">Наполняем здания функциями, разрабатываем комфортные условия для людей и обеспечиваем высокую окупаемость инвестиций в строительство. Всю технологию зданий и сооружений берем на себя.</p>
        </div>
        <div class="block block--full-width">
            <img src="./images/team-1.jpg" class="img" alt="Команда"/>
        </div>
    </div>
</section>
<section class="section feedback" id="feedback">
    <div class="container">
        <h2 class="title">Отзывы</h2>
        <div class="block">
            <div class="slider feedback-slider" id="feedbackSlider">
                <div class="slide">
                    <div class="slide--title">
                        <p>Александр</p>
                        <p>Севастьянов</p>
                    </div>
                    <div class="slide--sub-title">
                        <p>управляющий партнёр</p>
                        <p>ООО «СитиСтайл»</p>
                    </div>
                    <p class="slide--text text">В строительстве исключительную значимость имеет выбор партнеров, подрядчиков и поставщиков. Если вам нужно найти компанию, которая занимается архитектурно-строительным проектированием, вы можете смело выбрать проектую мастерскую ITEM. Опыт работы и профессиональный коллектив позволяют компании действовать слаженно, эффективно и оперативно.</p>
                </div>
                <div class="slide">
                    <div class="slide--title">
                        <p>Александр</p>
                        <p>Севастьянов</p>
                    </div>
                    <div class="slide--sub-title">
                        <p>управляющий партнёр</p>
                        <p>ООО «СитиСтайл»</p>
                    </div>
                    <p class="slide--text text">В строительстве исключительную значимость имеет выбор партнеров, подрядчиков и поставщиков. Опыт работы и профессиональный коллектив позволяют компании действовать слаженно, эффективно и оперативно.</p>
                </div>
                <div class="slide">
                    <div class="slide--title">
                        <p>Александр</p>
                        <p>Севастьянов</p>
                    </div>
                    <div class="slide--sub-title">
                        <p>управляющий партнёр</p>
                        <p>ООО «СитиСтайл»</p>
                    </div>
                    <p class="slide--text text">В строительстве исключительную значимость имеет выбор партнеров, подрядчиков и поставщиков. В строительстве исключительную значимость имеет выбор партнеров, подрядчиков и поставщиков. Если вам нужно найти компанию, которая занимается ар Если вам нужно найти компанию, которая занимается архитектурно-строительным проектированием, вы можете смело выбрать проектую мастерскую ITEM. Опыт работы и профессиональный коллектив позволяют компании действовать слаженно, эффективно и оперативно.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section partners" id="partners">
    <div class="container">
        <h2 class="title">Партнёры</h2>
        <div class="block block--wrap block--just-center">
            <div class="partners__logo"><img src="./images/partners-logo/_logo1.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo2.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo3.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo4.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo5.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo6.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo7.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo8.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo9.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo10.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo11.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo12.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo13.png" alt="Партнёр"/></div>
            <div class="partners__logo"><img src="./images/partners-logo/_logo14.png" alt="Партнёр"/></div>
        </div>
    </div>
</section>
