<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../libs/slick/slick.css" rel="stylesheet" type="text/css"/>
    <link href="../libs/arcticmodal/jquery.arcticmodal-0.3.css" rel="stylesheet" type="text/css"/>
    <link href="./css/style.css" rel="stylesheet" type="text/css"/>
    <title>Мастерская</title>
</head>
<body class="body">
<main class="main">
//= sidebar.html
//= column1.html
//= ../footer.html
</main>
<div style="display: none;">
        <div class="modal-content">
            <div class="block block--column">
                <input type="text" class="input" placeholder="ФИО" />
                <input type="text" class="input" placeholder="Статус" />
                <input type="text" class="input" placeholder="Телефон" />
                <input type="text" class="input" placeholder="Email" />
                <div class="block">
                    <input type="checkbox" class="modal-check-box" id="check-box" placeholder="Email">
                    <label for="check-box" class="modal-check-label">Я согласен на обработку <a>персональных данных</a></label>
                </div>
            </div>
        </div>
    </div>
<script src="./../libs/jquery/jquery-2.2.3.min.js"></script>
<script src="./../libs/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
<script src="./../libs/slick/slick.min.js"></script>
<script src="./js/script.js"></script>
</body>
</html>