<div class="sidebar">
    //= ../header.html
    <ul class="sidebar__nav nav">
        <li><a href="#" class="nav__item">Проекты</a></li>
        <li><a href="#" class="nav__item nav__item--active">Мастерская</a>
            <ul class="nav-sub">
                <li><a href="#team" class="nav__item">Команда</a></li>
                <li><a href="#feedback" class="nav__item nav__item--active">Отзывы</a></li>
                <li><a href="#partners" class="nav__item">Партнеры</a></li>
            </ul>
        </li>
        <li><a href="#" class="nav__item">Работа у нас</a></li>
        <li><a href="#" class="nav__item">Контакты</a></li>
    </ul>
    <div class="sidebar__footer">
        <div class="block block--column">
            <a href="tel:+73432879896" class="link link--bold">+7 (343) 287-98-96</a>
            <a href="mailto:projekt@item-pro.ru" class="link link--bold">projekt@item-pro.ru</a>
        </div>
        <div class="block block--column">
            <div class="block">
                <label for="input-search" class="button button--search"></label>
                <input type="text" class="input" id="input-search" placeholder="Поиск по сайту"/>
            </div>
            <div class="block">
                <button class="button button--dark">Ru</button>
                <button class="button">En</button>
            </div>
        </div>
    </div>
</div>