<footer class="footer">
    <div class="container">
        <div class="wrapper wrapper--between">
            <span class="link--files">
                <a href="#" class="link link--bold link--arrow-down">Скачать презентацию</a>
            </span>
            <div class="block block--column footer__links">
                <a href="#" class="link link--primary-dark">Политика конфиденциальности</a>
                <a href="#" class="link link--primary-dark">Пользовательское соглашение</a>
            </div>
            <div class="block block--al-center">
                <div class="social-network footer__social-network">
                    <a href="#" class="link-icon link-icon--vk"></a>
                    <a href="#" class="link-icon link-icon--facebook"></a>
                    <a href="#" class="link-icon link-icon--instagram"></a>
                </div>
                <div class="logo footer__logo">
                    <img src="./images/logo-beige.png" alt="logo"/>
                </div>
            </div>
        </div>
    </div>
</footer>
